.faq-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22px;
  cursor: pointer;
  width: 100%;
}

.faq-item-border-bottom {
  border-bottom: 1px solid #000;
}
.faq-item-border-top {
  border-top: 1px solid #000;
}

.faq-item-header:hover {
  background-color: #e0e0e0;
}

.faq-item-body {
  padding: 5px 0;
  display: none;
  overflow: hidden;
  transition: display 1s ease;
}

.faq-item-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.faq-item-body-content img {
  width: 40%;
  border-radius: 102.37px;
}

.faq-item.show .faq-item-body {
  background-color: #e0e0e0;
  display: block;
}
.faq-item.show .faq-item-header{
    background-color: #e0e0e0;
}

.faq-item.notshow .faq-item-body {
  display: none;
}
