.video-player {
  width: 100%;
  /* padding: 0 10px; */
  position: relative;
}

.video-wrapper {
  width: 100%;
  margin: 0 auto;
  /* height: auto;  */
  overflow: hidden;
  /* position: relative; */
display: flex;
flex-direction: column;
  align-items: center;
}

.video-thumbnail {
  width: 100%;
  display: block;
  border-radius: var(--border-radius-primary);

}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 20%;
}

.value-proposition .videotabbuttons {
  height: 10%;
  /* position: absolute; */
  /* top: 75%;
  right: 0%; */
  border-radius: 60px 0px 0px 60px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding:1.5em;
}

.play-hide {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .value-proposition .value-column{
    width: 100%;
  }

  .value-proposition .videotabbuttons {
    background-color: transparent;
  }
 
  .value-proposition .video-tabbutton{
    font-size: 0.7rem;
  }
  
}
