.terms-banner {
  background: url("/terms&condition/terms2.jpg") center center / cover no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical centering */
  align-items: center;      /* horizontal centering */
  padding: 0 20px;          /* optional horizontal padding */
  text-align: center;       /* ensures text inside div is centered */
}

.terms-banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terms-banner h1 {
  font-size: var(--font-size-banner-primary);
  color: var(--text-primary);
  font-weight: 700;
  animation: fadeoff 0.8s forwards;
  opacity: 0;
}

.terms-banner p {
  font-size: 1.2vw;
  font-weight: 700;
  color: var(--text-primary);
  margin-top: 10px;
}

/* fade-in animation */
@keyframes fadeoff {
  to {
    opacity: 1;
  }
}

/* Terms content container */
.terms-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;
  color: black;
}

.terms-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #0d47a1; /* dark blue */
  text-align: center;
}

.terms-container h2 {
  font-size: 22px;
  margin-top: 30px;
  color: black;
}

.terms-container p,
.terms-container ul {
  margin-bottom: 15px;
}

.terms-container ul {
  padding-left: 20px;
}

.terms-container strong {
  color: #000;
}
